

@import url('https://fonts.googleapis.com/css2?family=Literata:wght@100;400&display=swap');

.zigzag {
    stroke-dasharray: 1200;
    stroke-dashoffset: -1200;
    animation: dash 2s ease-out forwards;  
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes swoopy {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.card-body p {
    font-family: "Literata";
}

@media (min-width: 992px) {
    #controls {
        max-width: 4000px;
    }    
}

@media (max-height: 700px), (max-width: 992px) {
    #question-image-1 {
        display: none;
    }
    #question-image-2 {
        display: flex!important;
    }
}